/*Fixa så att skärmen inte har vita kanter runt sig*/
body, html {
    margin: 0;
}

/*Stil för testui*/
.panel {
    padding: 1em;
    background-color: darkgray;
    border: 2px solid gray;
}

.main {
    border-color:rgb(75, 92, 168);
    border-radius: 30px;
    border-width: 15px;
}

.text {
    /*
    Source - https://stackoverflow.com/a
    Posted by Guffa, modified by community. See post 'Timeline' for change history
    Retrieved 2026-01-26, License - CC BY-SA 3.0
    */
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color:rgb(255, 0, 0);
    font-size: 20px;
    text-align: center;
}

.title {
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
}

.modelist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 2px;
    margin-bottom: 2px;
}

.modelist > button {
    min-width: 110px;
}

.undertext {
    color:aqua;
    text-align: center;
    font-size: 15px;
}

.selected {
    text-decoration: underline;
}

.lowest {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#start {
    width: 100%;
}

#abort {
    width: 240px;
    border-radius: 10px;
    text-align: center;
    height: 50px;
}

.language {
    margin-top: 100px;
}
