/*Fixa så att skärmen inte har vita kanter runt sig*/
body, html {
    margin: 0;
}

/*Stil för testui*/
.panel {
    padding: 1em;
    background-color: darkgray;
    border: 2px solid gray;
}

.main {
    border-color:rgb(75, 92, 168);
    border-radius: 30px;
    border-width: 15px;
}

#ui {
    /*Så man inte kan markera text i spelet*/
    user-select: none;
}

html, button {
    /*Makes all text this font*/
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.text {
    
    color:rgb(255, 0, 0);
    font-size: 20px;
    text-align: center;
}

.title {
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
}

.modelist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 2px;
    margin-bottom: 2px;
}

.modelist > button {
    min-width: 110px;
}

.undertext {
    color:aqua;
    text-align: center;
    font-size: 15px;
}

.selected {
    text-decoration: underline;
}

.lowest {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#start {
    width: 100%;
}

#abort {
    width: 240px;
    border-radius: 10px;
    text-align: center;
    height: 50px;
}

.language {
    margin-top: 100px;
}

.wintext {
    font-size: calc( min( 10vw, 10vh) );
    text-align: center;
    line-height: 1em;
    text-shadow: 0.5vh 0.5vh 0px black;
    background-color: rgba(48, 56, 54, 0.8);
    border-radius: 1vw;
    padding: 2vw;
}

.red {
    color: #ff0040;
}

.blue {
    color: #0000ff;
}
